<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>{{ cookiecutter.formal_name }}</string>
	<key>CFBundleIconFile</key>
	<string>{{ cookiecutter.app_name }}.icns</string>
	<key>CFBundleIdentifier</key>
	<string>{{ cookiecutter.bundle }}.{{ cookiecutter.app_name }}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>{{ cookiecutter.formal_name }}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>{{ cookiecutter.version }}</string>
	<key>CFBundleVersion</key>
	<string>{{ cookiecutter.build }}</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>MainModule</key>
	<string>{{ cookiecutter.module_name }}</string>
	{% if cookiecutter.document_types %}
	<key>CFBundleDocumentTypes</key>
	<array>
		{% for document_type_id, document_type in cookiecutter.document_types.items() %}
		<dict>
			<key>CFBundleTypeRole</key>
			<string>{{ "Editor" if document_type.can_edit|default(True) else "Viewer" }}</string>
			<key>LSHandlerRank</key>
			<string>{{ document_type.handler_rank | default("Owner") }}</string>
			<key>LSItemContentTypes</key>
			<array>
				{% if document_type.apple_content_type is defined -%}
				<string>{{ document_type.apple_content_type }}</string>
				{%- else -%}
				<string>{{ cookiecutter.bundle }}.{{ cookiecutter.app_name }}.{{ document_type_id }}</string>
				{%- endif %}
			</array>
			<key>LSTypeIsPackage</key>
			{{ "<true/>" if document_type.is_package | default(False) else "<false/>"}}
		</dict>
		{% endfor %}
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		{% for document_type_id, document_type in cookiecutter.document_types.items() -%}
		{% if document_type.handler_rank|default("Owner") == "Owner" -%}
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>{{ "com.apple.package" if document_type.is_package|default(False) else "public.data" }}</string>
				<string>public.content</string>
				{%- if document_type.apple_conforms_to is defined %}
				{% for type in document_type.apple_conforms_to -%}
				<string>{{ type }}</string>
				{% endfor -%}
				{% endif %}
			</array>
			<key>UTTypeDescription</key>
			<string>{{ document_type.description }}</string>
			<key>UTTypeIconFile</key>
			<string>{{ cookiecutter.app_name }}-{{ document_type_id }}.icns</string>
			<key>UTTypeIdentifier</key>
			{% if document_type.apple_content_type is defined -%}
			<string>{{ document_type.apple_content_type }}</string>
			{%- else -%}
			<string>{{ cookiecutter.bundle }}.{{ cookiecutter.app_name }}.{{ document_type_id }}</string>
			{%- endif %}
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>{{ document_type.extension }}</string>
				</array>
			</dict>
		</dict>
		{% endif -%}
		{%- endfor %}
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		{% for document_type_id, document_type in cookiecutter.document_types.items() -%}
		{% if document_type.handler_rank|default("Owner") != "Owner" -%}
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>{{ "com.apple.package" if document_type.is_package|default(False) else "public.data" }}</string>
				<string>public.content</string>
				{%- if document_type.apple_conforms_to is defined %}
				{% for type in document_type.apple_conforms_to -%}
				<string>{{ type }}</string>
				{% endfor -%}
				{% endif %}
			</array>
			<key>UTTypeDescription</key>
			<string>{{ document_type.description }}</string>
			<key>UTTypeIdentifier</key>
			{% if document_type.apple_content_type is defined -%}
			<string>{{ document_type.apple_content_type }}</string>
			{%- else -%}
			<string>{{ cookiecutter.bundle }}.{{ cookiecutter.app_name }}.{{ document_type_id }}</string>
			{%- endif %}
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>{{ document_type.extension }}</string>
				</array>
			</dict>
		</dict>
		{% endif -%}
		{%- endfor %}
	</array>
	{% endif -%}
{%- if cookiecutter.info -%}
	{%- for permission, value in cookiecutter.info.items() %}
	<key>{{ permission }}</key>
	{{ value|plist_value }}
	{%- endfor -%}
{%- endif %}
</dict>
</plist>
